@import url("https://use.typekit.net/mqf8vzh.css");


body {
  margin-left:80px;
  height: 100%;
  font-family: "nobel", sans-serif;
}

h1 {
  font-family: "nobel", sans-serif;
  font-weight: 400;
}

img {
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


a:link {
  color: black;
  text-decoration:underline;
}

a:hover {
  background:white;
  text-decoration:underline;
}

a:visited {
  color:black;
  text-decoration:underline;
}


.left {
  float: left;
  width: 80%;
  height: 100%;
  padding-left: 20px;
}

h2 {
  line-height: 1.6;

}

.right {
  background: white;
  border-left: 2px solid black;
  position: fixed;
  top: 0;
  right: -300px;
  width: 360px;
  bottom:0;
  transition: all 900ms;
  overflow: scroll;
  padding: 10px 20px 20px 20px;
  line-height: 1.4;
}

input[type="checkbox"]{
  transition: all 900ms;
  border-radius: 25px;
  border: 2px solid black;
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  left: 10px;
  z-index: 1000;
}

input[type="checkbox"]:checked + .right {
  background: pink;
  right: 0;
}

input[type="checkbox"]:checked {
  right: 310px;
  background: black;
}
